<h2>Reative Form Group <small>[formGroup], formGroupName, formControlName</small></h2>

<div layout="column" layout-fill>
    <div layout="row" layout-align="center center">
        <mat-card class="mat-elevation-z8" flex="80">
            <mat-card-title>New Client</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
            <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
                <form fxLayout="row wrap" fxLayoutAlign="space-evenly begin" [formGroup]="clientForm"
                    (ngSubmit)="submit()">

                    <div fxLayout="row wrap" fxLayoutAlign="begin">
                        <mat-form-field fxFlex="45">
                            <input matInput type="text" placeholder="First Name" formControlName="firstName">
                        </mat-form-field>
                        <mat-form-field fxFlex="45">
                            <input matInput type="text" placeholder="Last Name" formControlName="lastName">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row wrap" fxLayoutAlign="begin" formGroupName="contact">
                        <mat-form-field fxFlex="45">
                            <input matInput type="text" placeholder="Phone" formControlName="phone">
                        </mat-form-field>
                        <mat-form-field fxFlex="45">
                            <input matInput type="text" placeholder="E-mail" formControlName="email">
                        </mat-form-field>
                    </div>

                    <button mat-button color="primary" type="submit">
                        <mat-icon>done</mat-icon>Submit
                    </button>
                    
                </form>
            </mat-card-content>
            <mat-card-footer>Output: {{output}}</mat-card-footer>
        </mat-card>
    </div>
</div>