<div class="app-body">
    <h1>Components</h1>
    <app-string-interpolation></app-string-interpolation>
    <app-property-binding></app-property-binding>
    <app-event-binding></app-event-binding>
    <app-data-binding></app-data-binding>
    <hr />
    
    <h1>Directives</h1>
    <app-ng-style></app-ng-style>
    <app-ng-class></app-ng-class>
    <app-ng-if></app-ng-if>
    <app-ng-for></app-ng-for>
    <app-ng-switch></app-ng-switch>
    <app-ng-template></app-ng-template>
    <app-ng-container></app-ng-container>
    <app-ng-content>
        <strong>My Content</strong>
    </app-ng-content>
    <hr />

    <h1>Component Iteration</h1>
    <app-input-binding name="Jhow" prefix="Mr"></app-input-binding>
    <app-event-emitter></app-event-emitter>
    <app-view-child></app-view-child>
    <app-on-changes></app-on-changes>
    <hr />

    <h1>Lifecycle</h1>
    <app-main-lifecycle></app-main-lifecycle>
    <hr />

    <h1>Service</h1>
    <mat-tab-group>
        <mat-tab label="New Department">
            <app-department-form></app-department-form>
        </mat-tab>
        <mat-tab label="New Product">
            <app-product-form></app-product-form>
        </mat-tab>
        <mat-tab label="All Products">
            <app-product-table></app-product-table>
        </mat-tab>
    </mat-tab-group>
    <hr />

    <h1>RXJS</h1>
    <app-basic-observable></app-basic-observable>
    <app-subject></app-subject>
    <app-map-delay></app-map-delay>

</div>
