<h2>Observable <small>rxjs</small></h2>

<button mat-raised-button color="primary" (click)="basic()">basic</button>&nbsp;
<button mat-raised-button color="primary" (click)="asynchronous()">asynchronous</button>&nbsp;
<button mat-raised-button color="primary" (click)="coldObservable()">cold-observable</button>&nbsp;
<button #hotBtn class="mat-raised-button mat-button-base mat-primary">hot-observable</button>&nbsp;
<button mat-raised-button color="primary" (click)="myPublish()">publish</button>&nbsp;
<button mat-raised-button color="primary" (click)="myShare()">share</button>&nbsp;

<p>Output:</p>
<ul>
    <li *ngFor="let o of output">{{o}}</li>
</ul>